{% extends "base.html" %}

{% block body %}
<h1>关于</h1>
<h2>Drupal is Open Source</h2>
<p>Drupal is open source software maintained and developed by a community of 630,000+ users and developers. It's distributed under the terms of the GNU General Public License (or "GPL"), which means anyone is free to download it and share it with others. This open development model means that people are constantly working to make sure Drupal is a cutting-edge platform that supports the latest technologies that the Web has to offer. The Drupal project's principles encourage modularity, standards, collaboration, ease-of-use, and more.</p>
<h2>Community Support</h2>
<p>The passionate volunteer Drupal community is on hand to give support via various vibrant IRC channels, in the forums, and face to face at Drupal events. The community has also created Documentation for Drupal, which covers major topics related to working with Drupal. The worldwide community drives the innovation that makes Drupal the preferred choice for web developers and site owners. Everybody can get involved and make a difference to Drupal.</p>
{% end %}