{% extends "topics-base.html" %}

{% block body %}
<div class="row">
	<div class="span8">
		<div class="box">
			<div id="topic-flow">
				{% for topic in topics %}
				<div class="cell">
					{% include "snip-topic-summary.html" %}
				</div>
				{% end %}
			</div>
		</div>
	</div>
	<div class="span4">
		{% include "snip-user-block.html" %}
		{% module HotNodes() %}
	</div>
</div>
{% end %}

{% block breadcrumb %}
<li><a href="{{reverse_url('home')}}">首页</a><span class="divider">/</span></li>
<li class="active"><a href="{{reverse_url('topics')}}">所有话题</a></li>
{% end %}